{% extends 'procurement/HOD-base.html' %}

{% block content %}	
    <nav class="m-1" style="font-family: 'Courier New', Courier, monospace;">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-pending-tab" data-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-pending" aria-selected="true">
            Pending
        </a>
        <a class="nav-item nav-link" id="nav-ao-tab" data-toggle="tab" href="#nav-ao" role="tab" aria-controls="nav-ao" aria-selected="false">
            Yet to be confirmed by Accounting Officer
        </a>
        <a class="nav-item nav-link" id="nav-complete-tab" data-toggle="tab" href="#nav-complete" role="tab" aria-controls="nav-complete" aria-selected="false">
            Complete
        </a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
       
        <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
            {% for requisition,details in pending %}
                <div class="card m-4">
                    <div class="card-body p-2 text-center" style="font-family:'Courier New', Courier, monospace;">
                        <strong>REQUEST FOR APPROVAL OF PROCUREMENT</strong>
                        <p id="{{ requisition.id }}" hidden>{{ requisition.id }}</p>
                    </div>
                </div>
                <div class="card m-2">
                    <div class="card-body p-2">
                        <table style=" border: 1px solid black; width:100%; font-family: 'Courier New', Courier, monospace;">
                            <tr>
                                <th class="text-center" colspan="4">Procurement Reference Number</th>
                            </tr>
                            <tr class="text-center">
                                <th style=" border: 1px solid black;">Code for PDE</th>
                                <th style=" border: 1px solid black;">Supplies/Works/Non-consultancy service</th>
                                <th style=" border: 1px solid black;">Financial year</th>
                                <th style=" border: 1px solid black;">Sequence number</th>
                            </tr>
                            <tr class="text-center">
                                <td style=" border: 1px solid black;">{{ requisition.pde_code }}</td>
                                <td style=" border: 1px solid black;">{{ requisition.requisition_type }}</td>
                                <td style=" border: 1px solid black;">{{ requisition.financial_year }}</td>
                                <td style=" border: 1px solid black;">{{ requisition.sequence_number }}</td>
                            </tr>
                            <tr>
                                <th class="text-center" colspan="4">Particulars of Procurement</th>
                            </tr>
                            <tr>
                                <td style=" border: 1px solid black;">&nbsp;Subject of Procurement</td>
                                <td colspan="3" style=" border: 1px solid black;" class="text-center">{{ requisition.subject }}</td>
                            </tr>
                            <tr>
                                <td style=" border: 1px solid black;">&nbsp;Procurement Plan Reference</td>
                                <td colspan="3" style=" border: 1px solid black;" class="text-center">{{ requisition.plan_reference }}</td>
                            </tr>
                            <tr>
                                <td style=" border: 1px solid black;">&nbsp;Location for delivery</td>
                                <td colspan="3" style=" border: 1px solid black;" class="text-center">{{ requisition.delivery_location }}</td>
                            </tr>
                            <tr>
                                <td style=" border: 1px solid black;">&nbsp;Date required</td>
                                <td colspan="3" style=" border: 1px solid black;" class="text-center">{{ requisition.date_required }}</td>
                            </tr>
                            <tr>
                                <th class="text-center" colspan="4">Details relating to the Procurement</th>
                            </tr>
        
                            <tr class="text-center">
                                <th style=" border: 1px solid black;">Item No.</th>
                                <th style=" border: 1px solid black;">Item name</th>
                                <th style=" border: 1px solid black;">Quantity</th>
                                <th style=" border: 1px solid black;">Market price</th>
                            </tr>
                            {% for detail in details %}
                                <tr class="text-center">
                                    <td style=" border: 1px solid black;">{{ detail.id }}</td>
                                    <td style=" border: 1px solid black;">{{ detail.item_name }}</td>
                                    <td style=" border: 1px solid black;">{{ detail.quantity }}</td>
                                    <td style=" border: 1px solid black;">
                                        <div align="right" class="p-1">
                                            {{ detail.market_price }}
                                            <button type="button" class="info btn btn-outline-dark btn-sm text-center font-weight-bold" data-toggle="modal" data-target="#requisition_details{{detail.id}}" style="font-size: 10px;display: inline;">
                                                more&nbsp;<span class="fa fa-plus"></span>
                                            </button>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="requisition_details{{detail.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">{{ detail.item_name }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div id="modal_body" class="modal-body">
                                                        <table class="table-striped table-hover" style="font-size: smaller;font-family: 'Times New Roman', Times, serif;">
                                                            <tr>
                                                                <th style=" border: 1px solid black;">Item No.</th>
                                                                <th style=" border: 1px solid black;">Quantity</th>
                                                                <th style=" border: 1px solid black;">Unit of measure</th>
                                                                <th style=" border: 1px solid black;">Estimated cost</th>
                                                                <th style=" border: 1px solid black;">Market price</th>
                                                                <th style=" border: 1px solid black;">Currency</th>
                                                            </tr>
                                                            <tr>
                                                                <td style=" border: 1px solid black;" class="text-center">{{ detail.id }}</td>
                                                                <td style=" border: 1px solid black;" class="text-center">{{ detail.quantity }}</td>
                                                                <td style=" border: 1px solid black;" class="text-center">{{ detail.unit_of_measure }}</td>
                                                                <td style=" border: 1px solid black;" class="text-center">{{ detail.estimated_cost }}</td>
                                                                <td style=" border: 1px solid black;" class="text-center">{{ detail.market_price }}</td>
                                                                <td style=" border: 1px solid black;" class="text-center">{{ detail.currency }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-center" colspan="6" style=" border: 1px solid black;">
                                                                    Description
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td style=" border: 1px solid black;" class="font-weight-bold">Specifications</td>
                                                                <td style=" border: 1px solid black;" colspan="5" class="m-2">{{detail.requisition_description_id.specification}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style=" border: 1px solid black;" class="font-weight-bold">Terms of Reference</td>
                                                                <td style=" border: 1px solid black;" colspan="5" class="m-2">&nbsp;{{detail.requisition_description_id.terms_of_reference}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td style=" border: 1px solid black;" class="font-weight-bold">Scope of works</td>
                                                                <td style=" border: 1px solid black;" colspan="5" class="m-2">&nbsp;{{detail.requisition_description_id.scope_of_works}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th class="text-center" colspan="3">
                                    <div align="right">
                                        Currency:&nbsp;&nbsp;&nbsp;UGX<br/>
                                        Estimated Total Cost 
                                    </div>
                                </th>
                                <td style=" border: 1px solid black;" class="text-center"><strong>{{ requisition.estimated_total_cost }}</strong></td>
                            </tr>
                        </table>
                    </div>
                    {% if user.profile.role == 'hod' %}
                        {% if requisition.member_confirmation %}
                            <div class="card m-4">
                                <div class="card-body p-2" style="font-family: 'Courier New', Courier, monospace;">
                                    <strong>User department Approval Details</strong><hr/>
                                    <p><strong>Names:</strong> {{ requisition.initiator.first_name }} {{ requisition.initiator.last_name }} </p>
                                    <p>
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" id="member_confirmation" checked disabled>
                                            <label class="custom-control-label" for="member_confirmation">Signed</label>
                                        </div>
                                    </p>
                                    <p><strong>Title:</strong> {{ requisition.initiator.title }}</p>
                                    <p><strong>Date of approval:</strong> {{ requisition.member_confirmation_date }} </p>
                                </div>
                            </div>
                            <div class="card m-4">
                                <div class="card-body p-2" style="font-family: 'Courier New', Courier, monospace;">
                                    <label class="font-weight-bold">Confirmation of request</label><hr/>
                                    <div class="row p-2">
                                        <div class="col-md-10">
                                            <label class="form-check-label">
                                                <strong>Head of the user department</strong><br/>
                                                <strong>I {{ user.last_name }} {{ user.first_name }}</strong>,<br/>
                                                <i>Do agree by the following requisition details to the best of my Knowledge.</i>
                                            </label>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input" id="hod_confirmation{{requisition.id}}">
                                                <label class="custom-control-label" for="hod_confirmation{{requisition.id}}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="done{{requisition.id}}" class="form-group m-4" align="center"></div>
                        {% else %}
                        {% endif %}
                    {% else %}
                        <div class="card m-4">
                            <div class="card-body p-2">
                                <strong>User department Approval Details</strong><hr/>
                                <p><strong>Names:</strong> {{ requisition.initiator.first_name }} {{ requisition.initiator.last_name }} </p>
                                <p>
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="member_confirmation" checked disabled>
                                        <label class="custom-control-label" for="member_confirmation">Signed</label>
                                    </div>
                                </p>
                                <p><strong>Title:</strong> {{ requisition.initiator.title }}</p>
                                <p><strong>Date of approval:</strong> {{ requisition.member_confirmation_date }} </p>
                                <p><strong>Status:</strong> Yet to be approved by HOD</p>
                            </div>
                        </div>
                    {% endif %}
                </div><br/>
                <script>
                    //hod confirmation logic
                    $("#hod_confirmation{{requisition.id}}").click(function(){
                        var hod_confirmation = document.querySelector("#hod_confirmation{{requisition.id}}").checked;
                        if (hod_confirmation){
                            $("#done{{requisition.id}}").append(
                                "<button class='btn btn-outline-info btn-lg' style='width:50%;' id='confirm{{requisition.id}}'>Confirm</button>"
                            );
                            $("#confirm{{requisition.id}}").click(function(){
                                var requisition_id = document.getElementById("{{requisition.id}}").innerHTML;
                                data = {};
                                data.requisition_id = requisition_id
                                data.csrfmiddlewaretoken = "{{ csrf_token }}";
                                $.post(
                                    "{% url 'procurement:hod_confirmation' %}",
                                    data,
                                    function(data, status){
                                        window.location.href = data.url;
                                    }
                                );
                            });
                            
                        }else{
                            $("#confirm{{requisition.id}}").remove();
                        }
                    });
                </script>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="nav-ao" role="tabpanel" aria-labelledby="nav-ao-tab">
            {% for requisition,details in submitted %}
                <div class="card m-4">
                    <div class="card-body p-2 text-center" style="font-family:'Courier New', Courier, monospace;">
                        <strong>REQUEST FOR APPROVAL OF PROCUREMENT</strong>
                        <p id="{{ requisition.id }}" hidden>{{ requisition.id }}</p>
                    </div>
                </div>
                <div class="card m-2">
                    <div class="card-body p-2">
                        <table style=" border: 1px solid black; width:100%; font-family: 'Courier New', Courier, monospace;">
                            <tr>
                                <th class="text-center" colspan="4">Procurement Reference Number</th>
                            </tr>
                            <tr class="text-center">
                                <th style=" border: 1px solid black;">Code for PDE</th>
                                <th style=" border: 1px solid black;">Supplies/Works/Non-consultancy service</th>
                                <th style=" border: 1px solid black;">Financial year</th>
                                <th style=" border: 1px solid black;">Sequence number</th>
                            </tr>
                            <tr class="text-center">
                                <td style=" border: 1px solid black;">{{ requisition.pde_code }}</td>
                                <td style=" border: 1px solid black;">{{ requisition.requisition_type }}</td>
                                <td style=" border: 1px solid black;">{{ requisition.financial_year }}</td>
                                <td style=" border: 1px solid black;">{{ requisition.sequence_number }}</td>
                            </tr>
                            <tr>
                                <th class="text-center" colspan="4">Particulars of Procurement</th>
                            </tr>
                            <tr>
                                <td style=" border: 1px solid black;">&nbsp;Subject of Procurement</td>
                                <td colspan="3" style=" border: 1px solid black;" class="text-center">{{ requisition.subject }}</td>
                            </tr>
                            <tr>
                                <td style=" border: 1px solid black;">&nbsp;Procurement Plan Reference</td>
                                <td colspan="3" style=" border: 1px solid black;" class="text-center">{{ requisition.plan_reference }}</td>
                            </tr>
                            <tr>
                                <td style=" border: 1px solid black;">&nbsp;Location for delivery</td>
                                <td colspan="3" style=" border: 1px solid black;" class="text-center">{{ requisition.delivery_location }}</td>
                            </tr>
                            <tr>
                                <td style=" border: 1px solid black;">&nbsp;Date required</td>
                                <td colspan="3" style=" border: 1px solid black;" class="text-center">{{ requisition.date_required }}</td>
                            </tr>
                            <tr>
                                <th class="text-center" colspan="4">Details relating to the Procurement</th>
                            </tr>
        
                            <tr class="text-center">
                                <th style=" border: 1px solid black;">Item No.</th>
                                <th style=" border: 1px solid black;">Item name</th>
                                <th style=" border: 1px solid black;">Quantity</th>
                                <th style=" border: 1px solid black;">Market price</th>
                            </tr>
                            {% for detail in details %}
                                <tr class="text-center">
                                    <td style=" border: 1px solid black;">{{ detail.id }}</td>
                                    <td style=" border: 1px solid black;">{{ detail.item_name }}</td>
                                    <td style=" border: 1px solid black;">{{ detail.quantity }}</td>
                                    <td style=" border: 1px solid black;">
                                        <div align="right" class="p-1">
                                            {{ detail.market_price }}
                                            <button type="button" class="info btn btn-outline-dark btn-sm text-center font-weight-bold" data-toggle="modal" data-target="#requisition_details{{detail.id}}" style="font-size: 10px;display: inline;">
                                                more&nbsp;<span class="fa fa-plus"></span>
                                            </button>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="requisition_details{{detail.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">{{ detail.item_name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div id="modal_body" class="modal-body">
                                                    <table class="table-striped table-hover" style="font-size: smaller;font-family: 'Times New Roman', Times, serif;">
                                                        <tr>
                                                            <th style=" border: 1px solid black;">Item No.</th>
                                                            <th style=" border: 1px solid black;">Quantity</th>
                                                            <th style=" border: 1px solid black;">Unit of measure</th>
                                                            <th style=" border: 1px solid black;">Estimated cost</th>
                                                            <th style=" border: 1px solid black;">Market price</th>
                                                            <th style=" border: 1px solid black;">Currency</th>
                                                        </tr>
                                                        <tr>
                                                            <td style=" border: 1px solid black;" class="text-center">{{ detail.id }}</td>
                                                            <td style=" border: 1px solid black;" class="text-center">{{ detail.quantity }}</td>
                                                            <td style=" border: 1px solid black;" class="text-center">{{ detail.unit_of_measure }}</td>
                                                            <td style=" border: 1px solid black;" class="text-center">{{ detail.estimated_cost }}</td>
                                                            <td style=" border: 1px solid black;" class="text-center">{{ detail.market_price }}</td>
                                                            <td style=" border: 1px solid black;" class="text-center">{{ detail.currency }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-center" colspan="6" style=" border: 1px solid black;">
                                                                Description
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <td style=" border: 1px solid black;" class="font-weight-bold">Specifications</td>
                                                            <td style=" border: 1px solid black;" colspan="5" class="m-2">{{detail.requisition_description_id.specification}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td style=" border: 1px solid black;" class="font-weight-bold">Terms of Reference</td>
                                                            <td style=" border: 1px solid black;" colspan="5" class="m-2">&nbsp;{{detail.requisition_description_id.terms_of_reference}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td style=" border: 1px solid black;" class="font-weight-bold">Scope of works</td>
                                                            <td style=" border: 1px solid black;" colspan="5" class="m-2">&nbsp;{{detail.requisition_description_id.scope_of_works}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th class="text-center" colspan="3">
                                    <div align="right">
                                        Currency:&nbsp;&nbsp;&nbsp;UGX<br/>
                                        Estimated Total Cost 
                                    </div>
                                </th>
                                <td style=" border: 1px solid black;" class="text-center"><strong>{{ requisition.estimated_total_cost }}</strong></td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card m-4">
                                <div class="card-body p-4" style="font-family: 'Courier New', Courier, monospace;">
                                    <strong><p class="text-center">User department Approval Details</p></strong><hr/>
                                    <p><strong>Names:</strong> {{ requisition.initiator.first_name }} {{ requisition.initiator.last_name }} </p>
                                    <p>
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" id="member_confirmation" checked disabled>
                                            <label class="custom-control-label" for="member_confirmation">Signed</label>
                                        </div>
                                    </p>
                                    <p><strong>Title:</strong> {{ requisition.initiator.title }}</p>
                                    <p><strong>Date of approval:</strong> {{ requisition.member_confirmation_date }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card m-4">
                                <div class="card-body p-4" style="font-family: 'Courier New', Courier, monospace;">
                                    <strong><p class="text-center">HOD Approval Details</p></strong><hr/>
                                    <p><strong>Names:</strong> {{ requisition.user_department_id.hod.first_name }} {{ requisition.user_department_id.hod.last_name }} </p>
                                    <p>
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" id="hod_confirmation" checked disabled>
                                            <label class="custom-control-label" for="hod_confirmation">Signed</label>
                                        </div>
                                    </p>
                                    <p><strong>Title:</strong> {{ requisition.user_department_id.hod.title }}</p>
                                    <p><strong>Date of approval:</strong> {{ requisition.hod_confirmation_date }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br/>
                <script>
                    //hod confirmation logic
                    $("#hod_confirmation{{requisition.id}}").click(function(){
                        var hod_confirmation = document.querySelector("#hod_confirmation{{requisition.id}}").checked;
                        if (hod_confirmation){
                            $("#done{{requisition.id}}").append(
                                "<button class='btn btn-outline-info btn-lg' style='width:50%;' id='confirm{{requisition.id}}'>Confirm</button>"
                            );
                            $("#confirm{{requisition.id}}").click(function(){
                                var requisition_id = document.getElementById("{{requisition.id}}").innerHTML;
                                data = {};
                                data.requisition_id = requisition_id
                                data.csrfmiddlewaretoken = "{{ csrf_token }}";
                                $.post(
                                    "{% url 'procurement:hod_confirmation' %}",
                                    data,
                                    function(data, status){
                                        window.location.href = data.url;
                                    }
                                );
                            });
                            
                        }else{
                            $("#confirm{{requisition.id}}").remove();
                        }
                    });
                </script>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="nav-complete" role="tabpanel" aria-labelledby="nav-complete-tab">
            Complete
        </div>
    </div>
{% endblock %}
