{% load staticfiles %}

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</head>
	<body> 
		<div class="container col-12">
			<div class="row fixed bg-info text-white" style="height:45;">
				<div class="col-md-3 my-auto p-0">
					<img class="h-100" src="{% static 'img/logo.png' %}" align="center" alt="PPDA logo"/>
				</div>
				<div class="col-md-5 my-auto">
					{% if user.profile.role == 'member' or user.profile.role == 'hod' %}
						<strong>Department: {{ user.profile.member.user_department_id.department_name }}</strong>
					{% elif user.profile.role == 'ao' %}
						<strong>Office: {{ user.profile.office_member_id.office_id.name }}</strong>
					{% endif %}
				</div>
				<div class="col-md-3 my-auto">
					<strong>Username: {{ user.username }}</strong>&nbsp;&nbsp;<span class="fa fa-user"></span>
				</div>
				<div class="col-md-1 my-auto">
					<strong><a href="{% url 'logout' %}" style="color: white;text-decoration: none;">Logout</a></strong>
				</div>
			</div>
			<div class="row" style="min-height:650">
				<div class="col-md-2 bg-white h-100 p-0 fixed" style="top:45;">
					<div class="pl-2 bg-dark text-white"><strong>DashBoard</strong></div>
					{% if user.is_authenticated %}
						{% if user.profile.role == 'hod' %}
							<div class="list-group" style="font-family: 'Times New Roman', Times, serif;">
								<a href="{% url 'procurement:view_requisitions' %}" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									{% if pending_count == 0 %}
										Requisitions
									{% else %}
										Requisitions <span class="badge badge-light bg-danger text-white">{{ pending_count }}</span>
									{% endif %}	
								</a>
								<a href="#" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									Procurement Plan and Budget
								</a>
								<a href="{% url 'procurement:new_requisition' %}" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									Make Procurement Requisition
								</a>
								<a href="#" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									Contract management
								</a>
								<a href="#" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									Requisition Progress
								</a>
								<a href="{% url 'procurement:members' %}" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									Add Members
								</a>				
							</div>
						{% elif user.profile.role == 'member' %}
							<div class="list-group" style="font-family: 'Times New Roman', Times, serif;">
								<a href="#" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									Procurement Plan and Budget
								</a>
								<a href="{% url 'procurement:part1_requisition' %}" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									Make Requisition
								</a>
								<a href="#" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									Requisition Progress
								</a>
								<a href="#" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									Contract Management
								</a>
								<a href="{% url 'procurement:view_requisitions' %}" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									{% if pending_count == 0 %}
										Requisitions
									{% else %}
										Requisitions <span class="badge badge-light bg-danger text-white">{{ pending_count }}</span>
									{% endif %}	
								</a>
							</div>
						{% elif user.profile.role == 'ao' %}
							<div class="list-group" style="font-family: 'Times New Roman', Times, serif;">
								<a href="#" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									Assesment of Market Price
								</a>
			
								<a href="{% url 'procurement:confirm_availability_funds' %}" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									{% if pending_count == 0 or req_count == 0 %}
										Confirm Requisitions
									{% else %}
										{% if req_count %}
											Confirm Requisitions <span class="badge badge-light bg-danger text-white">{{ req_count }}</span>
										{% else %}
											Confirm Requisitions <span class="badge badge-light bg-danger text-white">{{ pending_count }}</span>
										{% endif %}
									{% endif %}
								</a>
			
								<a href="#" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									Administrative review
								</a>
								<a href="#" class="list-group-item list-group-item-action px-2" style="border-radius: 0px;">
									Determining  that BEB price does not exceed price determined at commencement of procurement process 
								</a>
			
							</div>
						{% endif %}
					{% endif %}
					
				</div>

				<div class="col-md-10 bg-light h-100">
					<div class="m-4">
						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-{{ message.tags }} text-center font-weight-bold alert-dismissible" style="font-family: 'Courier New', Courier, monospace;" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									{{ message }} 
								</div>
							{% endfor %}
						{% endif %}
					</div>
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>