{% extends 'procurement/HOD-base.html' %}

{% block content %}
	<div class="card m-1">
		<div class="card-header p-2 m-1 text-center">
			<strong>Details relating to the Procurement</strong>  
		</div>
		<div class="card-body p-2">
			<div class="row">
				<div class="col-md-5 my-auto">
					<div class="row">
						<div class="col-md-4 my-auto">Currency</div>
						<div class="col-md-6">
							<p hidden id="sequence_number">{{requisition.sequence_number}}</p>
							<select id="currency" class="form-control" name="currency"><option>UGX</option></select>
						</div>
					</div>
					<hr/>
					<div class="form-group">
						<label class="form-check-label">Item</label>
						<input id="item" class="form-control" type="text" name="item" required>
					</div>

					{% if requisition.requisition_type == 'Supplies' %}
						<div class="form-group">
							<label class="form-check-label">Description (Specifications, Terms of Reference, Scope of Works)</label>
							<textarea id="description" class="form-control" name="description" required></textarea><br/>
							<label class="form-check-label">Attach Specifications</label>
							<input id="file" type="file" name="file" required>
						</div>
					{% elif requisition.requisition_type == 'Works' %}
						<div class="form-group">
							<label class="form-check-label">Description (Specifications, Terms of Reference, Scope of Works)</label>
							<textarea id="description" class="form-control" name="description" required></textarea><br/>
							<label class="form-check-label">Attach terms of reference or scope of works</label>
							<input id="file" type="file" name="file" required>
						</div>
					{% else %}
						<div class="form-group">
							<label class="form-check-label">Description (Specifications, Terms of Reference, Scope of Works)</label>
							<textarea id="description" class="form-control" name="description" required></textarea><br/>
							<label class="form-check-label">Attach terms of reference or scope of works</label>
							<input id="file" type="file" name="file" required>
						</div>
					{% endif %}

					<div class="form-group">
						<label class="form-check-label">Quantity</label>
						<input id="quantity" class="form-control" type="number" name="quantity" required>
					</div>

					<div class="form-group">
						<label class="form-check-label">Unit of Measure</label>
						<input id="unit_of_measure" class="form-control" type="text" name="unit-of-measure" required>
					</div>

					<div class="form-group">
						<label class="form-check-label">Estimated Cost</label>
						<input id="estimated_cost" class="form-control" type="number" name="estimated-cost" required>
					</div>

					<div class="form-group">
						<label class="form-check-label">Market Price</label>
						<input id="market_price" class="form-control" type="number" name="market-price" required>
					</div>

					<div class="form-group">
						<button id="add" class="btn btn-block btn-dark">Add</button>
					</div>
				</div>

				<div class="col-md-7">
					<table class="table table-hover" id="details">
					  <thead class="bg-faded">
						  <th class="p-1 border-0" scope="col">Item No</th>
						  <th class="p-1 border-0" scope="col">Item Name</th>
						  <th class="p-1 border-0" scope="col" hidden>Description</th>
						  <th class="p-1 border-0" scope="col">Quantity</th>
						  <th class="p-1 border-0" scope="col" hidden>Unit of Measure</th>
						  <th class="p-1 border-0" scope="col">Estimated Cost</th>
						  <th class="p-1 border-0" scope="col" hidden>Market Price</th>
						  <th class="p-1 border-0" scope="col" hidden>Currency</th>
						  <th class="p-1 border-0" scope="col"></th>
					  </thead>
					  <tbody class="border">
						<tr style="cursor: pointer">
						  <th scope="row" class="p-1">1</th>
						  <td class="p-1">Business Card</td>
						  <td class="p-1" hidden>Business Card</td>
						  <td class="p-1">50</td>
						  <td class="p-1" hidden>50</td>
						  <td class="p-1 estimated">500</td>
						  <td class="p-1" hidden>500</td>
						  <td class="p-1" hidden>UGX</td>
						  <td class="p-1"><button class="border-0">delete</button></td>
						</tr>
						<tr style="cursor: pointer">
						  <th scope="row" class="p-1">2</th>
						  <td class="p-1">Rim of Paper</td>
						   <td class="p-1" hidden>Rim of Paper</td>
						  <td class="p-1">50</td>
						  <td class="p-1" hidden>50</td>
						  <td class="p-1 estimated">15000</td>
						  <td class="p-1" hidden>15000</td>
						  <td class="p-1" hidden>UGX</td>
						  <td class="p-1"><button class="border-0">delete</button></td>
						</tr>
					</tbody>	
					</table>

					<hr>
					
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label class="form-check-label font-weight-bold">Currency</label>
							</div>
							<div class="col-md-6">
								<label class="form-control" id="change_currency">UGX</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label class="form-check-label font-weight-bold">Estimated Total Cost</label>
							</div>
							<div class="col-md-6">
								<label class="form-control" id="estimated_total_cost">15500</label>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-md-12">
								<div class="card-header p-2 m-1 text-center">
									<strong>(1) Request for Procurement</strong>  
								</div>
								<label class="font-weight-bold">Member of the user department</label>
								<div class="form-group">
									<div class="row">
										<div class="col-md-10">
											<label class="form-check-label">
												<strong>I {{ user.last_name }} {{ user.first_name }}</strong>,<br/>
												<i>Do agree by the following requisition details to the best of my Knowledge.</i>
											</label>
										</div>
										<div class="col-md-2">
											<input class="form-control" type="checkbox" name="member">
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-block btn-success" id="next">Next</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
<div class="form-group m-3">
	<div class="row">
		<div class="col-md-12">
			<form method="GET" action="{% url 'procurement:back_to_requisition_part1' %}">
				<input type="text" name="partial_info" value="{{requisition}}" hidden>
				<button type="submit" class="btn btn-block btn-success">Back</button>
			</form>
		</div>
	</div>
</div>
<script>
	var count = 2;
	$("#add").click(function(){
		var currency = document.getElementById("currency").value;
		var item = document.getElementById("item").value;
		var description = document.getElementById("description").value;
		var quantity = document.getElementById("quantity").value;
		var unit_of_measure = document.getElementById("unit_of_measure").value;
		var estimated_cost = document.getElementById("estimated_cost").value;
		var market_price = document.getElementById("market_price").value;

		if(item &&  description && quantity && unit_of_measure && estimated_cost && market_price){
			count++
			$("tbody").append(
				"<tr style='cursor: pointer'>" +
				"<th scope='row' class='p-1'>"+ count +"</th>" +
				" <td class='p-1'>"+ item +"</td>" +
				"<td class='p-1' hidden>" + description +"</td>" +
				"<td class='p-1'>" + quantity +"</td>" +
				"<td class='p-1' hidden>" + unit_of_measure +"</td>" +
				"<td class='p-1 estimated'>" + estimated_cost +"</td>" +
				"<td class='p-1' hidden>" + market_price +"</td>" +
				"<td class='p-1' hidden>" + currency +"</td>" +
				"<td class='p-1'><button class='border-0 delete-button'>delete</button></td>" +
				"</tr>"
			);
			document.getElementById("item").value = "";
			document.getElementById("description").value = "";
			document.getElementById("quantity").value = "";
			document.getElementById("unit_of_measure").value = "";
			document.getElementById("estimated_cost").value = "";
			document.getElementById("market_price").value = "";
			
			var change_currency = document.getElementById('change_currency').innerText = currency;
			var estimated_total_cost = Number(document.getElementById('estimated_total_cost').innerText);
			estimated_total_cost += Number(estimated_cost);
			document.getElementById('estimated_total_cost').innerText = estimated_total_cost;

		}else{
			window.alert('Missing details');
		}

		$(".delete-button").click(function(){
			this.parentElement.parentElement.remove();
			var estimated_cost_array = [];
			var estimated_costs = document.getElementsByClassName('estimated');
			for(var i=0;i<estimated_costs.length;i++){
				estimated_cost_array.push(Number(estimated_costs[i].innerText))
			}
			total_amount = estimated_cost_array.reduce((a,b) => a+b,0)
			var estimated_total_cost = Number(document.getElementById('estimated_total_cost').innerText);
			var removed_estimate = estimated_total_cost - total_amount;
			document.getElementById('estimated_total_cost').innerText = estimated_total_cost - removed_estimate;
		})
        
    });

	// function to save details information to the database.
	$("#next").click(function(){
		var sequence_number = document.getElementById("sequence_number").innerHTML;
		var req_details_array = [];
		var table = document.getElementById("details");
		// get the rows of the table 
		var rows = table.rows.length;
		// loop through the rows
		for(var i=0;i<rows;i++){
			// get cells of the current row
			var cells = table.rows.item(i).cells;
			// get the total number of cells of the current row.
			var cell_length = cells.length;
			// loops through each cell of the current row.
			var details = [];
			var requisition_details = {};
			for(var j=0;j<cell_length;j++){
				var cell_value = cells.item(j).innerHTML;
				details.push(cell_value)
			}
			requisition_details.item_name = details[1];
			requisition_details.description = details[2];
			requisition_details.quantity = details[3];
			requisition_details.unit_of_measure = details[4];
			requisition_details.estimated_cost = details[5];
			requisition_details.market_price = details[6];
			requisition_details.currency = details[7];
			req_details_array.push(requisition_details);
		}
		req_details_array.splice(0,1)
		let data = {};
		data.seq_num = sequence_number;
		data.details = JSON.stringify(req_details_array);
		data.csrfmiddlewaretoken = "{{ csrf_token }}";
		$.post(
			"{% url 'procurement:ajax_filter' %}",
			data,
			function(data, status){
				window.location.href = data.url;
			}
		);
	});
</script>
{% endblock %}
